/* browser re-set*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}

/*font declarations*/
h2, h3, p, a{
  color: #000000;
  font-family: 'Cardo', serif;
}
h1 {
  font-weight: 700;
  color:#ffffff;
  font-family:'Scheherazade', serif;
	font-size: 350%;
}
h2{
  font-size: 200%;
	font-weight:700;
}
h3{
  font-size: 150%;
}
p, a{
	font-size: 100%;
}
a{
	text-decoration: none
}
a:hover, a:visited{
	color:#4d4d4d;
}

/*body foundations*/
body{
  background-color: #919191;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
	display: block;
}
img{
  display: block;
  padding:0;
  height:auto;
}
.wrapper{
	display:flex;
	flex-flow: column nowrap;
}
.a, .c{
	justify-content: flex-start;
	background-position: bottom;
	background-repeat: no-repeat;
}
.a{
	background-color: #919191;
	background-image: url("/Users/sylwinntudor/Desktop/CGProjects/resume-project/assets/images/wire-dk-bottom.png");
	height:30em;
}
.b, .d{
	justify-content: center;
	background-position: top;
	background-repeat: no-repeat;
}
.b{
	height:45em;
	background-color: #fafafa;
	background-image: url("/Users/sylwinntudor/Desktop/CGProjects/resume-project/assets/images/wire-lt-top.png");
}
.c{
	height:60em;
	background-color: #fafafa;
	background-image: url("/Users/sylwinntudor/Desktop/CGProjects/resume-project/assets/images/wire-lt-bottom.png");
}
.d{
	height:45em;
	background-color: #919191;
	background-image: url("/Users/sylwinntudor/Desktop/CGProjects/resume-project/assets/images/wire-dk-top.png");
}
.container{
	display:flex;
	flex-flow:row wrap;
	justify-content: center;
}
.box, .portBox, .textbox{
  display:flex;
	flex-flow:column nowrap;
	height:15.625em;
	width:15.625em;
	padding-right:4%;
}
.box{
	align-items: flex-start;
}
.portBox{
	align-items: center;
}
.textbox{
	width:20em;
	padding:0;

}


/* Nav & Header */
header{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	width: 95%;
  padding:2%;
	background-color: #919191;
}
.nav{
	display:flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-around;
	width:100%;
	margin: 0 1%;
}

header h2{
	line-height: 1.5em;
}

/*  main */

#headshot, #logo{
  border-radius: 0;
  height: 18em;
  width: auto;
}
#logo{
	height:25%;
	width:auto;
	align-self: center;
	margin-top:7%;
	padding-bottom: 5%;
}
.square{
	height: 150px;
	width: 150px;
	background-color: #4A4949;
	margin:7%;
}
#portfolio{
	display:none;
}
footer{
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}
@media(max-width: 750px){
	.b{
		height:65em;
	}
	.c{
		height:80em;
	}
	.container{
		flex-flow: column nowrap;
    align-items: center;
		height:40em;
	}
	.box, .portBox, .textbox{
		align-items: center;
		width:50%;
		margin: 10% 0;
	}
	#logo{
		height:15%;
	}
	h1{
		font-size: 200%;
	}
	h2{
		font-size: 150%;
	}
	h3{
		font-size:125%;
	}
}
@media(max-width:600px){
	.a, footer{
		height:100vh;
	}
	.c{
		height:100em;
	}
}
@media(max-width:425px){
	.c{
		height:110em;
	}
	#headshot{
		margin-top:15%;
	}
}
@media(max-width:	325px){
	#headshot {
    height: 12em;
    align-self: flex-end;
    margin-top: 60%;
	}
	.c{
		height:120em;
	}
	h1{
		font-size: 150%;
	}
	h2{
		font-size: 125%;
	}
	h3{
		font-size:100%;
	}
}
